:root{
    --Text: #fff;
    --Background: #000;
    --Background_Shade: #1e1e1e ;
    --Primary: #8FB3FF;
    --Accent: #462888;
    --Secondary: #DDC3EA;
    --Text_Dim: #c6c6c6;
    --Star_Color: #e7ba1e; 
    --Star_Color_Hover: #c29f20; 
}