
*{
    background-color: var(--Background);
    color: var(--Text);
    font-family: sans-serif;
}

h1{
    font-size: xx-large;
}

input {
    border-radius: 5px;
    background-color: white;
    color: black;
}

input:focus {
    outline: none;
}

button{
    color: var(--Text);
    border: none;
    text-align: center;
    border-radius: 5px;
    background-color: var(--Primary);
}

button:hover{
    cursor: pointer;
}

.Center-container{
    position: relative;
}

.Center{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.SigninBtn{
    border-radius: 5px;
    background-color: var(--Primary);
}

.newAccBtn{
    background-color: var(--Text_Dim);
    border-radius: 5px;
}

.error-border {
    border-color: red !important;
}

.ok-border {
    border-color: rgb(0 234 41) !important;
}

.error-message {
    color: red;
}

.error-border, .ok-border {
    border-style: solid;
    border-width: 3px;
}


.hidden {
    display: none;
}

.error-container {
    text-align: center;
}


input:disabled {
    color: gray;
    border-color: rgb(93, 93, 93) !important;
}


.ok-message {
    color: rgb(0 234 41) !important;
}
