.formElement,
.seperator{
    height: 80px;
}

.log-sign-label{
    color: var(--Text);
}

input{
    padding: 4px;
}

.sign-up{
    width: 400px;
}

.log-sign-container{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 100%;
    color: var(--Text);

    text-align: center;

    margin-top: 3%;
}

body,
html{
    background-color: var(--Background);
    height: 90%;
    margin: 0;
}

.titel{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}

.label-center{
    text-align: left;
}

.div-mar{
    margin-left: 26%;
}

.login-btns,
.login-input{
    border-radius: 5px;
}

.login-btns{
    color: var(--Text);
}

.SigninBtn{
    background-color: var(--Primary);
}

.newAccBtn{
    background-color: var(--Text_Dim);
}

.error-border {
    border-color: red !important;
}

.ok-border {
    border-color: rgb(0 234 41) !important;
}

.error-message {
    color: red;
}

.error-border, .ok-border {
    border-style: solid;
    border-width: 3px;
}


.hidden {
    display: none;
}

.error-container {
    text-align: center;
}


input:disabled {
    color: gray;
    border-color: rgb(93, 93, 93) !important;
}


.ok-message {
    color: rgb(0 234 41) !important;
}
