*{
    --Text: #fff;
    --Background: #000;
    --Background_Shade: #1e1e1e ;
    --Primary: #8FB3FF;
    --Accent: #462888;
    --Secondary: #DDC3EA;
    --Text_Dim: #c6c6c6;   
}
.container-fluid{
    padding-left: 0%;
    padding-right: 0%;
}

.box{
    background-color: #1e1e1e;
    border-radius: 5px;
}

.pic{
    height:320px;
    width: 100%;
    border-radius: 5px;
}
.info{
    height: 280px;
    padding-left: 10px;
    overflow-y: auto;
    overflow-wrap:break-word;
}
button{
    background-color: rgb(143, 179, 255);
    color: white;
    border: none;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
}
span{
    padding-left: 5px;
}
.buttonPos{
    text-align: center;
}
.rate{
    color: var(--Accent);
    padding-top: 10px;
}
.rateButton{
    background-color: #000;
    color: var(--Accent);
    padding: 0px;
    font-size: x-large;
}
table{
    margin-bottom: 5%;
}
td{
    padding-right: 100px;
}
.toppad{
    padding-top: 5px;
}
.modal-header{
    background-color: #1e1e1e;
}
.modal-body{
    background-color: #1e1e1e;
}
.modal-footer{
    background-color: #1e1e1e;
}
.icon{
    max-height:320px;
    width: 100%;
    border-radius: 5px;
}