a{
    color: var(--Text);
    text-decoration: none;
    margin: 0;
}

a:hover{
    color: var(--Text);
}

.navbar-colors{
    background-color: var(--Background_Shade);
    
}

.nav-form{
    background-color: var(--Background_Shade);
}
