p{
    margin: 0;
}

.background{
    background-color: black;
}

.content{
    background-color: #1E1E1E!important;
    color: white;
    width: auto;
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.user-info{
    margin:10px;
}

.profile-picture{
    width: 150px;
    height: 150px;
    object-fit: cover;

    border-radius: 100px;
}

.profile-name-and-date{
    display: inline-block;
}

.username,
.member-date{
    margin: 0;
    display: inline-block;
    vertical-align: top;
}
.username{
    display: block;
    font-size: 25px;
}
.member-date{
    font-size: 15px;
}

.edit-profile-btn{
    background-color: var(--Accent);
    border: none;
    border-radius: 20px;
    float: right;
    color: var(--Text);
    padding: 8px;
}

.edit-profile-btn:hover{
    background-color: #3e2378;
}

.edit-profile-btn:active{
    opacity: 50%;
}

.rated-movies-section,
.watchlist-movies-section{
    margin-top: 50px;
    background-color: #D9D9D9;
    overflow-x: auto;
    white-space: nowrap;
    width: 80vw;

    border-radius: 20px;

    margin-left: 1%;
    margin-right: 1%;
    padding-left: 8px;
    
}

.movies-header{
    color: #462888;
    font-weight: bold;
    font-size: 20px;
}
.movies-second-head{
    color: black;
    vertical-align: top;  
    
}

.movies-list{
    height:175px;
}

.movie{
    padding-left: 5px;
    height: 180px;
    width: 100px;
    margin-right: 5px;
    display: inline-block;
}
.movie-pic{
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 3px;
}
.movie-pic:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.movie-name,
.movie-rating{
    color: black;
    text-align: center;
}
.movie-name{
    font-size: 11px;  
    font-weight: 500;
}
.movie-rating{
    font-size: 10px;
}
.star{
    height: 8px;
    
    color: #e7ba1e;
}

.see-more{
    float:right;
    margin-right: 20px;
    font-size: 15px;
    color: #8FB3FF;
}